@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;600;700&display=swap');

/* css varibales   */
:root{

    --color-primary:#006241;
    --color-second:#d50032;
    --color-extra:#d4e9e2;
}

*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html,body{

    font-family: 'Open Sans', sans-serif;
    line-height: 1.4;
    color: black;
}

a{
    color: black;
}
ul{
    list-style: none;
}

p{

   margin: 5px 0;
   line-height: 1.7; 
}

img{

    max-width: 100%;
}

/* navbar */
.navbar{

 width: 100%;
 height: auto;
 background-color: rgb(255, 255, 255);
 padding: 20px;
 box-shadow: -1px 9px 14px -3px rgba(0,0,0,0.51);
-webkit-box-shadow: -1px 9px 14px -3px rgba(0,0,0,0.51);
-moz-box-shadow: -1px 9px 14px -3px rgba(0,0,0,0.51);
}
.navbar-container{

    display: flex;
    justify-content: space-between;
    align-items: center;
}
.navbar ul{

    display: flex;
    align-items: center;
}
.navbar li{
    margin: 0 15px;
    font-weight: bold;
}
.navbar a{

    color: black;
    text-decoration: none;
}
.navbar a:hover{

    color: var(--color-primary);
}
.navbar-brand img{

    width: 50px;
    height: 50px;
}
.navbar-nav-right img{

    height: 20px;
    width: 20px;
    margin-right: 10px;
}
.navbar-nav-left{

    text-transform: uppercase;
    flex: 1;
    margin-left: 20px;
}
.navbar-nav-right li:first-child a{

    display: flex;
    align-items: center;
}